body{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}
.quizContainer{
    flex-direction: column;
}
.buttonContainer{
    flex-direction: column;
    justify-content: space-between;
}